.sidebar-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    flex: 0 0 240px;
    background-color:blue;
    color: white;
    padding: 20px;
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .menu-icon {
    color: white;
    margin-right: 10px;
  }
  
  .dashboard {
    display: flex;
    align-items: center;
  }
  
  .dashboard span {
    font-weight: bold;
    font-size: 18px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .sidebar-icon {
    margin-right: 10px;
  }
  
  .main-content {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    
    /* Adjust the spacing as per your preference */
  }
  
  
  /* Form styling */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Button styling */
  button {
    margin-top: 10px;
  }